body {
  padding-top: 100px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.tweetDisplay{
	margin-bottom: 30px;
	padding-left: 30px;
}

.theme-showcase > p > .btn {
  margin: 50px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.spaced{
	
	padding-right: 25px;
}